.contact-left, .contact-right {
  padding: 2rem;
  border-radius: 16px;
  background: var(--card);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

/* QR */
.qr-box {
  text-align: center;
}

.qr-box img {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* SOCIAL */
.social-icons a {
  font-size: 2rem;
  margin-right: 0.1rem;
  transition: 0.3s;
  padding: 5px 10px;
  color: var(--bs-icon-color);
}

.social-icons a:hover {
  background: #FFC107;
  color: #212529;
  // padding: 5px 10px;
  border-radius: 1rem;
  transform: translateY(-5px);
}

.my_name {
    font-style: italic;
}

@media (max-width: 768px) {

  .contact-left,
  .contact-right {
    // margin-bottom: 1rem;
    padding: 1rem;
  }

  .social-icons a {
    font-size: 1rem;
  }
}