<div class="card">
    <h2 class="mb-4">About Me</h2>
    <div class="d-flex justify-content-end">
        <a class="btn btn-warning" download="Deepak_Angular_10+.pdf"
            href="../Deepak_Agrawal___Angular_Developer___10+.pdf">
            <i class="bi bi-download"></i>
            Resume
        </a>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 d-none d-sm-block">
             <img class="img-fluid rounded-5" src="../images/d-profile-2.jpg" alt="Deepak Agrawal">
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-7 align-content-center">
            <div class="d-flex justify-content-start">
                <h5><q>
                    Experienced Front-end Developer with 10+ years of expertise in designing and developing
                    user-friendly, adaptive, and responsive web applications. Proficient in HTML, CSS, and JavaScript, with strong
                    command over modern frameworks like Angular and Bootstrap. Quick to adapt to new technologies and continuously
                    enhance development skills to deliver high-quality solutions.
                </q></h5>
            </div>
        </div>
    </div>
</div>