.app-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  min-height: 100vh;
  overflow-x: hidden;
  margin-left: 200px;
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  border-radius: 20%;
  padding: 0.2rem 0.4rem;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-body-bg);
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bs-body-bg);
  padding: 2rem;
  border-radius: 10px;
  z-index: 2000;
  color: var(--bs-body-color)
}

.mobile-contact {
  position: fixed;
  right: 10px;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 992px) {
  .content {
    margin-left: 0;
  }
}

.top-actions {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2000;
  //backdrop-filter: blur(10px);
}

/* BUTTON STYLE */
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: none;
  color: var(--bs-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px color-mix(in srgb, var(--bs-shadow) 50%, transparent);
}

/* HOVER EFFECT */
.icon-btn:hover {
  // background: var(--primary);
  // color: #000;
  transform: translateY(-3px) scale(1.05);
  //box-shadow: 0 0 15px color-mix(in srgb, var(--bs-shadow) 50%, transparent);
}

/* ICON SIZE */
.icon-btn i {
  font-size: 1.2rem;
}

@media (max-width: 768px) {

  .top-actions {
    top: 10px;
    right: 10px;
    gap: 6px;
  }

  .icon-btn {
    width: 36px;
    height: 36px;
  }

}