<div class="app-container d-flex" [attr.data-bs-theme]="theme">
  <div class="top-actions">
    <button class="icon-btn" (click)="toggleTheme()" title="Toggle Theme">
      @if (theme === 'dark') {
      <i class="bi bi-sun-fill"></i>
      } @else {
      <i class="bi bi-moon-fill"></i>
      }
    </button>
  </div>

  <!-- Sidebar -->
  <app-sidebar [isMobile]="isMobile" [isSidebarOpen]="isSidebarOpen" [activeSection]="activeSection"
    (closeSidebar)="isSidebarOpen = false">
  </app-sidebar>

  <!-- Main Content -->
  <div class="content flex-grow-1">
    <section id="home"><app-home></app-home></section>
    <section id="about"><app-about></app-about></section>
    <section id="projects"><app-projects></app-projects></section>
    <section id="experience"><app-experience></app-experience></section>
    <section id="skills"><app-skills></app-skills></section>
    <section id="education"><app-education></app-education></section>
    <section id="contact"><app-contact></app-contact></section>

    <button class="btn btn-warning to-top" (click)="scrollTop()">
      <i class="bi bi-arrow-up-short"></i>
    </button>
  </div>

  <!-- Mobile Toggle Button -->
  @if (isMobile && !isSidebarOpen) {
  <button class="btn btn-warning sidebar-toggle" (click)="toggleSidebar()">
    <i class="bi bi-list-ul"></i>
  </button>
  }

  <!-- @if (isMobile && isSidebarOpen) {
        <div class="backdrop" (click)="closeSidebar()"></div>
    } -->
</div>

<!-- @if (showPopup) {
  <div class="popup">

    <button (click)="showPopup=false">✖</button>

    <h5>Call Me</h5>

    <a href="tel:+91-9130057478" class="btn btn-warning">
      Call Now
    </a>

  </div>
} -->

<!-- @if (isMobile && showMobileIcons) {

  <div class="mobile-contact">

    <a href="tel:+91XXXXXXXXXX">
      <i class="bi bi-telephone"></i>
    </a>

    <a href="#" target="_blank">
      <i class="bi bi-whatsapp"></i>
    </a>

    <button (click)="showMobileIcons=false">✖</button>

  </div>

} -->